@model Archery.Models.HomeIndexViewModel


<div class="row">
    @foreach (var item in Model.Tournaments)
    {
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
                <h3>@item.Name</h3>
                <p>@item.Location</p>
                <p>@item.StartDate.ToString("ddd dd MMM yyyy ")</p>
                @*@if (item.Weapons != null)
                {
                <ul>
                    @foreach (var weapon in item.Weapons)
                    {
                        <li>@weapon.Name</li>
                    }
                </ul>
                }*@
                <p><a href="#" class="btn btn-primary" role="button">Voir les détails</a> <a href="#" class="btn btn-primary" role="button">S'inscrire</a></p>
            </div>
        </div>
    </div>
    }
</div>
