@using Archery.Tools;
@{
    var message = TempData["MESSAGE"] as Message;
}

@if (message != null)
{
    <div class="alert
             alert-@(message.MessageType == MessageType.SUCCESS ? "success" : "danger")">
        @message.Text
    </div>
}